
@{
    ViewBag.Title = "Home";
    ViewBag.LinkHome = "nav-link active";
    ViewBag.LinkFormular = "nav-link";
    Layout = "~/Views/Shared/Template.cshtml";
}

<h5><a href="/Home/Formular">Hier geht es zum Formular</a></h5>

