
@{
    ViewBag.Title = "ThankYou";
    ViewBag.LinkHome = "nav-link";
    ViewBag.LinkFormular = "nav-link";
    Layout = "~/Views/Shared/Template.cshtml";
}

<h2>Vielen Dank!</h2>
<p>@Session["Bestaetigung"]</p>